body {
    background-color: #f6fbff;
}

#announcements {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

#scrolleable {
    max-height: 440px;
    overflow-y: scroll;
}

.bg-custom {
    background-color: #eaf3fb;
}

.job-announcement:hover {
    cursor: pointer;
}

#navbar-buttons {
    display: inline-block;
    color: #005da9;
}

#hdv {
    color: #005da9;
    border-color: #005da9;
    font-weight: bold;
    background-color: white;
}

#btn-filter {
    background-color: white;
    color: #4b5968;
    border: 1px solid #e1e5ea;
    font-weight: bold;
}

#filter-value {
    background-color: #f6fbff;
}

#sidebar{
    margin-left: -0%;
    margin-top: -160%;
    height: 135%;
    background-color: #005da9;
}