body {
    background-color: #f6fbff;
}

#announcements {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

#scrolleable {
    max-height: 70vh;
    overflow-y: scroll;
}

.bg-custom {
    background-color: #eaf3fb;
}

.job-announcement:hover {
    cursor: pointer;
}

#clickeable{
    cursor: pointer;
}

#navbar-buttons {
    display: inline-block;
    color: #0D3878;
}


#hdv {
    color: #0D3878;
    border-color: #0D3878;
    font-weight: bold;
    background-color: white;
}

#btn-filter {
    background-color: white;
    color: #4b5968;
    border: 1px solid #e1e5ea;
    font-weight: bold;
}

#filter-value {
    background-color: #f6fbff;
}

#sidebar{
    background-color: #0D3878 ;
    position: fixed;
    top:0%;
}

#navbar-part{
    background-color: #eaf3fb;
    border-radius: 500px;
    height: 3.5rem;
}

#applications{
    cursor: pointer;
}

#applications:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#job-card-expanded{
    position: fixed;
    top: 35vh;
    right: 10vh;
}